body
{
	margin: 0;
	padding: 0;
}

h1
{
	margin: 10px;
}

h3
{
	padding: 10px;
	margin: 0;
}

.alert_box
{
	background: #FFF;
	width: 500px;
	padding: 20px;
	margin-right: auto;
	margin-left: -270px;
	border: 3px solid #C22;
	position: absolute;
	z-index: 1;
	top: 200px;
	left: 50%;
}

#topnav
{
	margin-top: 50px;
	padding-top: 20px;
	padding-bottom: 0;
	margin-bottom: 0;
	height: 40px;
	width: 750px;
	margin-left: auto;
	margin-right: auto;
}

#topnav_list
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#topnav_list li
{
	float: left;
	padding: 10px;
	margin: 0;
}

#main_content
{
	width: 750px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	padding: 0;
	padding-left: 10px;
	height: 50px;
	border: 3px solid black;
	min-height: 500px;
}

#login_status
{
	color: red;
}

#tabs
{
	margin: 50px;
}

